body {
	background: #f8f7f2 !important;
}
label {
    color: #6d6b69 !important;
    font-weight:500;
}
/* === Default Radio Button Style Start ===*/
.default_radio_button {
	margin-bottom: 0;
	padding-bottom: 0;
}
.default_radio_button section {
    display: inline-flex;
	justify-content: center;
	width: 100%;
}
.default_radio_button section > div {
    margin-right: 15px;
}
.default_radio_button section > div:last-child {
    margin-right: 0;
}
.default_radio_button input[type="radio"] {
    display: none;
    &:not(:disabled) ~ label {
        cursor: pointer;
    }
    &:disabled ~ label {
        color: hsla(150, 5%, 75%, 1);
        border-color: hsla(150, 5%, 75%, 1);
        box-shadow: none;
        cursor: not-allowed;
    }
}
.default_radio_button label:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.default_radio_button label {
    display: block;
    background-color: #d5d5d5;
    color: #858585;
    border: 1px solid #bababa;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    box-shadow: 0 0 9px 0px #c5c5c5;
    border-radius: 4px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    padding: 2px 3px;
}
.default_radio_button input[type="radio"]:checked + label {
    text-align: center;
    background-color: #feca2e;
    color: #656975;
}
.default_radio_button section > div {
    width: 50%;
}
.default_radio_button section > div.full_width_radio {
    width: 50%;
}
/* === Default Radio Button Style End ===*/
/* === Default checkbox Button Style Start ===*/
.default_checkbox_button {
	margin-bottom: 0;
	padding-bottom: 0;
}
.default_checkbox_button section {
    display: inline-flex;
	justify-content: center;
	width: 100%;
}
.default_checkbox_button section > div {
    margin-right: 15px;
}
.default_checkbox_button section > div:last-child {
    margin-right: 0;
}
.default_checkbox_button input[type="checkbox"] {
    display: none;
    &:not(:disabled) ~ label {
        pointer-events: none;
    }
    &:disabled ~ label {
        color: hsla(150, 5%, 75%, 1);
        border-color: hsla(150, 5%, 75%, 1);
        box-shadow: none;
        cursor: not-allowed;
        pointer-events: none;
    }
}
/*.default_checkbox_button label:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}*/
.default_checkbox_button label {
    display: block;
    background-color: #d5d5d5;
    color: #858585;
    border: 1px solid #bababa;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    box-shadow: 0 0 9px 0px #c5c5c5;
    border-radius: 4px;
    /*-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/
    font-weight: 500;
    font-size: 16px;
    padding: 2px 3px;
}
/*.default_checkbox_button input[type="checkbox"]:checked + label {*/
.checked {
    text-align: center !important;
    background-color: #feca2e !important;
    color: #656975 !important;
}
.default_checkbox_button section > div {
    width: 50%;
}
.default_checkbox_button section > div.full_width_checkbox {
    width: 50%;
}
/* === Default Radio Button Style End ===*/
.custom_input{
    width:70% !important;
    margin: 0 auto;
}
.custom_input input{
    height:50px;
    border-radius:0 !important;
}
.maroon_btn {
    background-color: #ac3b11  !important;
    border: 1px solid #a72e01  !important;
    padding:5px 40px !important;
}
.msg_box{
    padding: 20px;
    width:70%;
    margin:0 auto;
}
.alert-danger{
	background-color: #ae4a53 !important;
	border-color: #935258 !important;
}
.msg_box i{
    font-size:100px;
    padding: 20px;
}
.msg_box p{
    font-size:16px;
    font-weight:500;
    color:#ffffff;
}
.msg_box_success{
    background-color: #b7cc5d;
}
.msg_box_success i{
    color: #f6fb00;
}
.msg_box_wrong{
    background-color: #b7cc5d;
}
.msg_box_wrong i{
    color: #f6fb00;
}
.heading {
    color: #6d6b69;
    font-size:20px;
    font-weight:500;
    text-align:center
}

.custom_disable_time {
    opacity: 0.6;
    pointer-events: none;
}
.custom_disable_time input{
    border:none !important;
    border-radius:0 !important;
    background-color: #ccc !important;
}
.custom_disable_time span{
    border:none !important;
    background-color: #444648 !important;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor: pointer;
}
.custom_active_time input{
    border:none !important;
    border-radius:0 !important;
    background-color: #f8c03a !important;
}
.custom_active_time span{
    border:none !important;
    background-color: #bb3b3b !important;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor: pointer;
}
.text_disabled {
    
}

.custom_target, .custom_current {
    text-align:center;
    margin-top:20px;
}
.custom_target h5, .custom_current h5{
    color: #6d6b69;
    font-size:18px;
    font-weight:500;
    margin-bottom:0
}
.custom_target h6, .custom_current h6{
    color: #6d6b69;
    font-size:10px;
    margin-bottom:0
}
.custom_target h3{
    color: #6d6b69;
    font-weight:bold;
}
.custom_current h3{
    color: #e8b417;;
    letter-spacing:1px;
    font-weight:bold;
}
.evacuation_building {
    background-color: #f6dc90;
}
.evacuation_building p{
    color: #4f4e4d;
    font-size:20px;
    font-weight:500;
    text-align:center
}
.evacuation_building small{
    color: #6d6b69 !important;
    font-size:10px !important;
}
.evacuation_building h6{
    color: #4f4e4d;
    font-size:14px;
    font-weight:500;
    text-align:center;
    margin-bottom: 0;
}
.custom_involved{
    display: inline-flex !important;
    justify-content: center;
}
.custom_involved .totalEstd{
    border:none !important;
    border-radius:0 !important;
    background-color: #ccc !important;
    padding:3px 25px !important;
    height:30px
}
.custom_involved span{
    border:none !important;
    border-radius:0 !important;
    background-color: #444648 !important;
    color:#fff;
    font-size:14px;
    font-weight:600;
    height:30px;
        padding:0 25px !important;
}
.pointer-none {
	pointer-events: none;
}
.drill_border {
	border: 1px solid #deb145;
	padding: 5px;
}
.drill_border_text {
	text-align: center;
	font-weight: 500;
    font-size:12px;
}
.drill_text {
    color: #f27533 !important;
}
.drill_text1 {
	color: #7f7f81 !important;
}
.icon_img  .report {
	position: absolute;
	top: 0;
	left: 10px;
	top: 10px;
	cursor: pointer;
	color: #fba403;
}
.icon_imge  i {
	position: absolute;
	top: 0;
	left: 10px;
	top: 10px;
	cursor: pointer;
	color: #fba403;
}
.icon_img .logout {
	position: absolute;
	top: 0;
	right: 10px;
	top: 10px;
	cursor: pointer;
	color: #fba403;
}